html,
body {
  height: 100vh;
  display: flex;
  width: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Mobile */
@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
  }
  .chakra-container {
    padding: 0 !important;
  }
}

/* Body */
.chakra-ui-light {
  background-color: #0d0d0d;
}

/* Table styles */
th {
  color: #7d7d7d !important;
}

td {
  color: #e8e8e8;
  padding: 1rem 0.5rem !important;
}

.chakra-heading {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

/* Checkbox styles */
.css-1ydjfm6[data-checked] {
  background-color: #d4af37 !important;
  border-color: #d4af37 !important;
}

/* SearchField styles */
.chakra-input:focus,
.chakra-select:focus {
  border: 1px solid #d4af37 !important;
  box-shadow: none !important;
}
.chakra-input {
  caret-color: #d4af37 !important;
  color: #e8e8e8 !important;
}
.chakra-input::placeholder,
.chakra-select {
  color: #7d7d7d !important;
}

/* Pagination */
.chakra-button {
  background-color: #d4af37 !important;
  color: #e8e8e8 !important;
}

.chakra-button:hover {
  background-color: #e8e8e8 !important;
  color: #d4af37 !important;
  transition: 0.3s ease-in;
}

/* Icon styles */
.github-icon,
.linkedin-icon {
  color: #7d7d7d !important;
  width: 32px !important;
  height: 32px !important;
  margin: 10px 6px 6px 10px !important;
}

.linkedin-icon:hover {
  color: #0a66c2 !important;
  transition: 0.3s ease-in;
}

.github-icon:hover {
  color: #e8e8e8 !important;
  transition: 0.3s ease-in;
}

/* Layout styles */
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-item {
  display: flex;
}

/* Header */
.flex-item:nth-child(1) {
  justify-content: center;
}

/* Footer */
.flex-item:nth-child(3) {
  justify-content: center;
  align-items: flex-end;
}
